{% extends 'account/base.html' %}

{% block title %}Health Declaration Form{% endblock %}

{% block header %}
<header>
  {% include 'core/includes/navbar.html' %}
  <div class="card card-intro sky-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <h1 class="font-weight-bold h2">St. Camillus MedHaven Nursing Home Health Declaration</h1>
        </div>
      <!--Grid column-->
      </div>
    <!--Grid row-->
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
  <div id="hd-form" class="d-flex justify-content-center align-items-center">
      <div class="col-lg-12 p-4">
      {% if form.errors %}
        <p>
          Please correct the following errors
        </p>
      {% else %}
        <p>In compliance with Republic Act 11332 (Mandatory Reporting of Notifiable Diseases and Health Events of Public Health Concern Act), You are required to provide truthful information about your health condition and possible exposure.

Moreover this is in compliance with the Company's Return to Work Policy for all employees and visitors.</p>
      {% endif %}
      {% load crispy_forms_tags %}
      {% crispy form form.helper %}
      </div>   
  </div>
{% endblock %}