{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Swab Test Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <style>
      ul li {
        display: inline-block;     
      } 
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }   
      .demogs {
        text-decoration: underline;
        margin-right: 40px;
      }
      .signature {
        text-decoration: overline;      
      }
      td {
        padding: 8px;
      }
      .emblem {
        float: left;
      }
    </style>
  </head>
  <body>
    <style type="text/css" media="print">
      .printbutton {
        visibility: hidden;
        display: none;
      }
    </style>
    <script type="text/javascript"> 
	   document.write("<input type='button' " +
        "onClick='window.print()' " +
        "class='printbutton' " +
        "value='Print This Page'/>");
    </script>    
    <div style="text-align: center;">
      <ul>
        <li><img class="emblem" src="https://scontent.fmnl10-1.fna.fbcdn.net/v/t1.6435-9/167595297_3930492120340224_7143982198573172424_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=973b4a&_nc_ohc=pXK8ivDRAREAX8Rjna-&_nc_ht=scontent.fmnl10-1.fna&oh=f1b69c1e228ba042bac1458c947ade88&oe=60A56CE3" alt="" width="60" height="60"></li>
        <li><h2 style="text-align: center; color: green;">St. Camillus MedHaven</h2><h6>St. Camillus MedHaven Nursing Home</h6></li>
        <li><img class="emblem" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.K7Ht7PtG6NYnQX4g6oWpAwHaKl%26pid%3DApi&f=1" alt="" width="60" height="60"></li> 
      </ul>
      <small>#29 Apitong St., Marikina Heights, Marikina City</small>
    </div>    
    <br>
    <h6 style="text-align: center;	">HEALTH DECLARATION FORM</h6>
    <br>
    <ul style="list-style-type: none;">
      <small>Name: <span class="demogs">{{ swabtestresult.patient.given_name }} 
      {% if swabtestresult.patient.middle_name %}
        {{ swabtestresult.patient.middle_name }}
      {% endif %}
        {{ swabtestresult.patient.last_name }}</span>
      </small>
      <li><small>Age: <span class="demogs">{{ swabtestresult.patient.age }}</span></small></li>
      <li><small>Sex: <span class="demogs">{{ swabtestresult.patient.gender }}</span></small></li>
      <li><small>Date: <span class="demogs">{{ swabtestresult.date }}</span></small></li>
    </ul>
    <ul>
      <li><small>Department/section: <span class="demogs">{{ swabtestresult.patient.department }}</span></small></li>
      <li><small>Contact no.: <span class="demogs">{{ swabtestresult.patient.cellphone_number }}</span></small></li>
      <li><small>Body Temperature: <span class="demogs">{{ swabtestresult.patient.temperature }}</span></small></li>
    </ul>
    <br>
    <p><small>In the past 7 days, have you or any member of your household, travelled to any areas with known case of Covid-19?</small></p>
      <small><input type="checkbox" disabled="true"{% if swabtestresult.patient.traveled_outside %} checked="true"{% endif %}>
      <label> Yes</label>
      <input type="checkbox" disabled="true"{% if not swabtestresult.patient.traveled_outside %} checked="true"{% endif %}>
      <label> No</label></small>
    <p><small>In the past 7 days, have you or any member of your household has had any contact with any Covid-19 biological material?</small></p>
      <small><input type="checkbox" disabled="true"{% if swabtestresult.patient.exposed_to_suspected_probable_or_confirmed %} checked="true"{% endif %}>
      <label> Yes</label>
      <input type="checkbox" disabled="true"{% if not swabtestresult.patient.exposed_to_suspected_probable_or_confirmed %} checked="true"{% endif %}>
      <label> No</label></small>
    <p><small>Have you had history of fever for the last 7 days?</small></p>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.fever %} checked="true"{% endif %}>
      <small><label> Yes</label>
      <input type="checkbox" disabled="true"{% if not swabtestresult.patient.fever %} checked="true"{% endif %}>
      <label> No</label></small>
    <p><small>Have you had any symptoms in the last 7 days such as:</small></p>
    <p><small>If Yes:</small></p>
      <small><input type="checkbox" disabled="true"{% if swabtestresult.patient.cough_and_colds %} checked="true"{% endif %}>
      <label> Colds or</label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.cough_and_colds %} checked="true"{% endif %}>
      <label> Cough</label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.loss_of_sense_of_smell_and_taste %} checked="true"{% endif %}>
      <label> Loss of taste or</label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.loss_of_sense_of_smell_and_taste %} checked="true"{% endif %}>
      <label> Loss of smell</label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.muscle_pains_or_body_weakness %} checked="true"{% endif %}>
      <label> Muscle pain</label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.sore_throat %} checked="true"{% endif %}>
      <label> Itchiness in the throat/sore throat</label></small>
      <p><small><input type="checkbox" disabled="true"{% if swabtestresult.patient.shortness_of_breath %} checked="true"{% endif %}>
      <label> Shortness of breath/Difficulty of Breathing </label>
      <input type="checkbox" disabled="true"{% if swabtestresult.patient.joint_pains %} checked="true"{% endif %}>
      <label> Myalgia</label></small></p>
      
      <p><small>DECLARATION:</small></p>
      <p><small>I, hereby certify that the above information is true and complete. I understand that my failure to answer, or any false misleading information given by me, may be used as a ground for the filing cases against me under Articles 171 and 172 of the revised Penal Code of the Philippines, or Republic Act No. 11332, otherwise known as the “Law on Reporting Communicable Disease”.</small></p>
      <p><small>I authorize Camillus MedHaven nursing home to conduct collection and testing by using Covid-19 Antigen test through nasopharyngeal swab as part of the infection control policy.</small></p>
      <p><small>I, authorize my test result to be disclosed to the government entity as may required by law.</small></p>
      <p><small>I acknowledge that a positive test result is an indication that I must self-isolate to prevent the spread of the infection. I also allow them to report the case to the authority for proper intervention.</small></p>
      <p><small>I understand that as with medical test, there is the possibility of false negative or false positive Covid-19 result.</small></p>
      <p><small>I, the undersigned have been informed about the test purpose, procedure, possible benefits and risk. I have given the opportunity to ask questions before I sign. I voluntarily agree to this testing for Covid-19.</small></p>
      <br>
      <p><small><span class="signature">Printed Complete Name and Signature </span></small></p>
      <table>
        <tr>
          <td> 
            <small>Name: {{ swabtestresult.patient.given_name }} 
              {% if swabtestresult.patient.middle_name %}
                {{ swabtestresult.patient.middle_name }}
              {% endif %}
                {{ swabtestresult.patient.last_name }}
            </small> 
          </td>
          <td>
            <small><label>SD Biosensor F100 Machine: </label>  
            <input type="checkbox" disabled="true"{% if swabtestresult.machine == '0' %} checked="true"{% endif %}></small>            
          </td>
          <td>
            <small><label>SD Biosensor F200 Machine: </label>  
            <input type="checkbox" disabled="true"{% if swabtestresult.machine == '1' %} checked="true"{% endif %}></small>
          </td>
        </tr>
        <tr>
          <td> 
            <small>Date: {{ swabtestresult.date }}</small>
            </small> 
          </td>
          <td>
            <small><label>STANDARD F COVID-19 Ag FIA: </label>  
            <input type="checkbox" disabled="true"{% if swabtestresult.swab_test == '1' %} checked="true"{% endif %}></small>            
          </td>
          <td>
            <small><label>STANDARD Q COVID-19 Ag: </label>  
            <input type="checkbox" disabled="true"{% if swabtestresult.swab_test == '0' %} checked="true"{% endif %}></small>
          </td>
        </tr>
        <tr>
          <td><small>Age: {{ swabtestresult.patient.age }}</small></td>
          <td rowspan="5" colspan="2"><div class="text-center"><img class="img-fluid" src="{{ swabtestresult.photo.url }}" alt="" width="199" height="300"></div></td>
        </tr>
        <tr>
          <td><small>Specimen: {{ swabtestresult.specimen }}</small></td>
        </tr>
        <tr>
          <td><small>{{ swabtestresult.get_direction_to_work_display|upper }} </small><p><small>Day: {{ swabtestresult.day_of_quarantine }}</small></p></td>
        </tr>
        <tr>
          <td><small>COI: {{ swabtestresult.COI }}</small></td>
        </tr>
        <tr>
          <td>
            <p><small>COVID-19 ANTIGEN RESULT</small></p>
            <p><small><label>Negative</label> <input type="checkbox" disabled="true"{% if swabtestresult.test_result == '-' %} checked="true"{% endif %}>
            </small></p>
            <p><small><label>Positive</label> <input type="checkbox" disabled="true"{% if swabtestresult.test_result == '+' %} checked="true"{% endif %}>
            </small></p>
            <p>
              <small><strong>*If positive better Isolate and for RTPCR test </strong></small>
            </p>
            <br>
            <p>
              <small><span class="signature">Nurse-in-charge Printed Name and Signature</span></small>
            </p>
          </td>
        </tr>
      </table>
  </body>
</html>

